

form {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    color: #444;
}


input[type="text"],
input[type="number"] {
    margin-top: 8px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
}

.customer-name {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.addressLine {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}


.city-state {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}


.error-message {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}

.payment-method,.shipping-method{
  display: flex;
  align-items: center;
  gap: 20px; 
}
.payment-method label,.shipping-method label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color:#ff6b00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}
